branches:
    only:
        - master

dist: xenial
language: php

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - hhvm
    - 7.0
    - 7.1
    - 7.2

env:
   - SYMFONY_VERSION=~2.1
   - SYMFONY_VERSION=~3.0

matrix:
  fast_finish: true
  include:
    - php: 5.3
      dist: precise
  allow_failures:
    - php: 5.3
      dist: xenial
    - php: 5.3
      env: 'SYMFONY_VERSION=~3.0'
    - php: 5.4
      env: 'SYMFONY_VERSION=~3.0'

before_script:
    - composer self-update
    - composer require symfony/framework-bundle:${SYMFONY_VERSION} --no-update --dev
    - composer install --no-interaction --prefer-source --no-suggest

script:
    - bin/phpspec run -f dot
